*{
    margin: 0;
    
padding: 0;
box-sizing: border-box;
list-style: none;

}
.body{
    overflow: hidden;
    
}
.nav-bar{
    width: 100%

}
.Top-nav{
    font-family:Josefin Sans;
    font-size: 0.52rem;
    color: #F1F1F1;
    
display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background: #7E33E0;
    width: 100%;
    
    
}
.left{
    display: flex;
    
}
.left > div + div{
    margin-left: 0.15rem;
}
.right{
    display: flex;
}
.right > div + div{
    margin-left: 0.15rem;
    font-weight: 2rem;
}
.lower-nav{
    /* display: block; */
   padding: 0rem 0.6rem 0rem 0.05rem;
    

}
.menu-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.31rem; 
    font-weight: 500;
}
.menu-bar ul{
   margin: 0;
   display: flex;
   font-size: 15.5x;
        
}
    
.home {
    color: #FB2E86;
}

.home a{
    color: #FB2E86;
    }

.menu-bar ul li a:hover{
    color: #FB2E86;
}

.brand-name {
    color:#0D0E43 ;
    font-family:sans-serif;
    padding: 0 0 0 0rem;
    font-size: 1rem;
    line-height: 1.5rem;
 /* position: relative; */
 /* top: auto; */
 /* background-color: #7E33E0; */
 /* height: 2.5rem; */

 /* width:50rem; */

}
 /* .search-bar{ */
     /* width: 100%; */
     /* height: 1.9rem; */
     /* padding: 0.5rem; */
     /* display: flex; */
     /* align-items: center; */
     /* justify-content: right; */
     /* position: relative; */
     /* top: -3.5rem; */
 /* } */

     /* form{ */
     /* background: white; */
     /* display: flex; */
     /* } */
     /* form input{ */
     /* flex: 1; */
     /* border:none; */
     /* outline: none; */
     /* width: 12rem; */
     /* height: 1.5rem; */

 /* } */
     /* form button{ */
     /* background: #FB2E86; */
     /* padding: 0.1PX 0.5PX; */
     /* cursor: pointer; */
 /* } */
     
     /* .search-icon img{ */
     /* width: 1.5rem; */
     /* height: 1rem; */
    
 /* } */
     /* .search-icon img{ */
     /* width: 100%; */
     /* height: inherit; */
 /* } */

    .home-page1-box{
       padding-right: 4rem;
       background-color: #f2f0ff;
       background-size: cover;
       height: 120%;
       width: 100%;
    }
    
   .box-content-home-page1{
      grid-template-columns: 1fr; 
      width: 100%;

    }

    .pink-sofa-col img{
      padding: 3rem 3rem 0 3rem;
      
    }

   .text-page1{
      padding-top: 0.3rem;
      padding-left: 1rem;
     
      
    }

    .action-button{
        margin-top:-0.1rem ;
        
    }   

   .text-page1 h3{
      color: #FB2E86;
      font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.8rem;
    /* text-align: justify; */
    }

    .text-page1 h1{
       font-family: sans-serif;
       font-size: 1.4rem;
       color: #000000;
       line-height: 1.8rem;
       letter-spacing: 0.015em;
       font-weight: 700;
     /* text-align: justify; */
    
    }

  .text-page1 p{
      font-family: Arial;
      font-size: 0.6rem;
      line-height: 1.4rem;
      color: #8A8FB9;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 2rem;
     /* text-align: justify; */
    } 
  
    .text-page1 button{
        background-color: #FB2E86;
        width: 7rem;
        height: 2rem;
        border-radius: 0.13rem;
    
    }

.pink-sofa-col img{
    padding: 3rem 3rem 0 5rem;
    width: 320px;
    height: inherit;
    padding-right: 1rem;
   
} 
  
.action-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.01em;
    
}

/* HOME PAGE 2 STARTS HERE  */

.home-page2-hearder{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 0.9rem;
    /* line-height: 1rem; */
    text-align: center;
    color: #0D0E43 ;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.chair-image {
    display:flex;
    justify-content:center;
    height:70%;

}

.home-page2-middle-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem ;
    /* width: 70%; */
    overflow: hidden;
    margin: auto;
    box-shadow: rgba(8, 8, 143, 0.2) 0px 7px 29px 0px;
}

.upper-and-lower-home-page2-middle-grid-content{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 22.56rem;  
}

.home-page2-middle-grid-upper-content{ 
    
    border-radius: 0.4rem;
    width:100%;
    height:63%;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    background: #F6F7FB;
    padding:10px 0;

    
}

.home-page2-middle-grid-upper-content button{
    background-color: #08d15f;
    width:fit-content;
    margin-left:9rem;
    border-radius: 2px;
    border:none;
    color:#fff;
    padding:5px 10px;
    font-family: 'josefin Sans';
    font-size: 12px;
    line-height: 14px;
    visibility: hidden;
    
    
    

}

.magic-icon{
    width:40%;
    margin-left:0.63rem;
    display:flex;
    justify-content:space-between;
    visibility:hidden;
    gap: 0.2rem;
}

.magic-icon .magic-icon-holder{
display:flex;
justify-content:center;
align-items: center;
width:30px;
height: 30px;
border-radius: 50%;
border: 1px solid transparent;
text-decoration: none;
}

.magic-icon .magic-icon-holder:hover{
    background:rgb(226, 223, 223)
}


.middle-grid-lower-section{
   
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:10px 0;
    gap: 0.5rem;
    height:40%;

    
}

.color-selection-button button{
    width:0.88rem;
    height:3px;
    border-radius: 2px;
   
    border: none;
}

.button1{
    background-color:#05E6B7 ;
}

.button2{
    background-color:#F701A8 ;
}

.button3{
    background-color:#FFEAC1 ;
}

.upper-and-lower-home-page2-middle-grid-content:hover .middle-grid-lower-section{
    background-color: #2F1AC4;

}

.upper-and-lower-home-page2-middle-grid-content:hover .view-details-btn{
    visibility: visible;
}

.upper-and-lower-home-page2-middle-grid-content:hover h3{
  color: #FFF;  
}

.upper-and-lower-home-page2-middle-grid-content:hover h4{
    color: #FFF;
}

.upper-and-lower-home-page2-middle-grid-content:hover p{
    color: #FFF;
}

.upper-and-lower-home-page2-middle-grid-content:hover .button3{
    background-color: #FFEAC1;
}

.upper-and-lower-home-page2-middle-grid-content:hover .magic-icon{
    visibility: visible;
}
   
.middle-grid-lower-section h3{
    color: #FB2E86;
    font-family: Arial;
    font-size: 1rem;
}

.middle-grid-lower-section h4{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}

.middle-grid-lower-section p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151875
}

.magic-icon .fa-cart-shopping{
    color: #2F1AC4;
   
}

.magic-icon .fa-heart{
    color: #1389FF;
   
}

.magic-icon .fa-circle-plus{
    color: rgb(100, 192, 241);
  
}

.buttom-selection-button .btn{
    width: 1.5rem;
    height: 0.3rem;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #FB2E86;
    /* padding-left: 10rem; */
    /* visibility: hidden; */
    margin: 0.2rem;
   

}

.buttom-selection-button {
    padding-left: 35%;
    padding-top: 3rem;

}

  /* home page3 starts here */
  .home-page3-container{
    height: 100%;
}

.home-page3-first-header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 0.8rem;
    
    text-align: center;
    color: #2F1AC4 ;
    padding-bottom: 0rem;
    padding-top: 3rem;
}

.home-page3-sub-header{
    display: flex;
    color:#151875 ;
    padding-left: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
   
}

.home-page3-sub-header li{
    margin: 0.5rem;
    line-height: 1rem;
    font-weight: 600;
    font-size: 10px;
    padding-bottom: 0.8rem;
    cursor: pointer;
    /* margin-top: -0.5rem; */
}
.home-page3-sub-header li:hover{
    color: #FB2E86;
    text-decoration: underline;
}

.home-page3-chair-holder{
    display:flex;
    justify-content:center;
    height:70%; 
    /* justify-content: center; */
}

.home-page3-chair-holder img{
    /* height: 30%; */
    width: 100%;
    margin-top: -12rem;
    margin-left: 1.5rem;
    /* justify-content: center; */
    
}


.home-page3-middle-grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap:1rem ;
    /* width: 70%; */
    overflow: hidden;
    margin: auto;
}

.home-page3-top-section{
    
background: whitesmoke;
}

.home-page3-sales-tag{
    background-color: #3F509E;
    width: 3.5rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top: 5rem;
    left: 1.5rem;
    transform: skewY(325deg);
    border-bottom-left-radius: 1.5rem;
    /* transform: skew(0.1rad,0.1rad); */
    visibility: hidden;

}

.home-page3-sales-tag p{
    color: white;
    transform: skewY(330deg);
    text-align: initial;
    margin-top: -0.8rem;
    
    
}

.home-page3-icons-and-image-section{
    justify-content: space-between;
    display: inline-block;
}



.home-page3-icons{
    /* color: #2F1AC4; */
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    visibility: hidden;


}


.home-page3-icon-holder i{
    margin: 0.5rem;
    color: #2F1AC4;
   
}

.home-page3-top-and-buttom-grid-card:hover .home-page3-top-section{
    background-color: white;
}

.home-page3-top-and-buttom-grid-card :hover .home-page3-icons{
    visibility: visible;
    

}

.home-page3-top-and-buttom-grid-card :hover .home-page3-sales-tag{
    visibility: visible;
}

.home-page3-icons .home-page3-icon-holder{
    display:flex;
    justify-content:center;
    align-items: center;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
    text-decoration: none;
}

.home-page3-icons .home-page3-icon-holder:hover{
    background:rgb(226, 223, 223) 

}

.confy-price-section{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.1rem;
    margin-top: -0.3rem;
    margin-right: 1rem;
    
}

.home-page3-middle-grid-just-price{
    display: flex;
    padding-top: 0.9rem;
    margin-left: 3.5rem;

}

.home-page3-middle-grid-just-price h5{
    color: #151875;
    padding-right: 1.5rem;
    
    
}

.home-page3-middle-grid-just-price h6{
    color: #FB2448;
    /* padding-right: 3rem; */
    text-decoration: line-through;
}

.confy-price-section h4{
    color: #151875;
    font-size: 0.6rem;
    line-height: 1.1rem;
    font-weight: 250;
    background-color: whitesmoke;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top:0.2rem ;
    padding-bottom: 0.2rem;
    margin-top: 0.5rem;
    margin-right: -4rem;
}

.home-page3-grid-card-buttom-section{
    display: flex;
}

.shopex-container{
    height: 100%;
}

.shopex-grid-card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem ;
    width: 70%;
    overflow: hidden;
    margin: auto;
    box-shadow: rgba(8, 8, 143, 0.2) 0px 7px 29px 0px; 
    

}

.shopex-grid-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    height: 14rem; 
}

.shopex-hearder{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'; */
    font-size: 1rem;
    text-align: center;
    color: #151875 ;
    padding-bottom: 0rem;
    padding-top: 2rem;
    padding-bottom: 4rem;

}

.shopex-icon-holder1{
    color: #FF7E40;
    width: 4rem;
    height: 2rem;
    padding: 2rem 0rem 2rem 6rem;
    font-size: 40px;
}

.shopex-icon-holder{
    color: #F7B90F;
    width:4rem;
    height: 2rem;
    padding:2rem 0rem 2rem 6rem;
    font-size: 40px;

}

.shopex-icon-holder4{
    color: #2F1AC4;
    width: 4rem;
    height: 2rem;
    padding: 2rem 0rem 2rem 6rem;;
    font-size: 40px;
}

.support h5{
    color: #151875;
    line-height: 26px;
    text-align: center;
    padding-top: 1rem;
}

.shopex-text p{
    font-family: Arial;
    font-size: 0.7rem;
    line-height: 1.2rem;
    color: #8A8FB9;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align-last: center;
    padding-top: 1rem;

}

/* Unique Features Of Latest & Trending Products section  */
         
.unique-features-card-container{
    display: flex;
 }

 .unique-features-card{
     background: #F1F0FF;
     display: block;
     width: 100%;
     height: 20%;
     /* justify-content: center; */

    } 

    .unique-features-image-background{
      /* border: 2px solid red; */
      margin-right: 5rem;
      width: 320px;
      height: 350px;
      background-image: url(images/unique-pink-background.png);
      background-size: contain;
      z-index: -1rem;
      justify-content:center;
      background-repeat: no-repeat;
    
    }

    .unique-features-image-background img{
     width:100%;
     height: 300px;
     
    }

    .unique-features-image-background img{
     width: 100%;
     height: inherit;
    }

   .unique-features-image-background{
      /* padding-left: 5rem; */
      margin-right: 2rem;
    }

    .unique-features-text-section{
      /* padding-left: 4rem; */
    }

    .unique-features-text-section h2{
      color: #151875;
      line-height: 2rem;
      padding-top: 1rem;
      padding-left: 0.7rem;

    }

    .unique-features-text-section p{
     font-family: Arial;
     font-size: 10px;
     line-height: 1.7rem;
     color: #8A8FB9;
     font-style: normal;
     font-weight: 400;
     margin-bottom: 2rem;
     padding-left: 0.7rem;

    }

    .add-to-cart-desc-and-price{
     display: flex;
    }

    .add-to-cart-desc-and-price p{
     color: #151875;
     margin: 0.5rem;
     line-height: 0.9rem;
     font-weight: 600;
     margin-top: -0.6rem;

    }

    .add-to-cart-desc-and-price button{
     background-color: #FB2E86;
     width: 6.8rem;
     height: 2.4rem;
     color: white;
     margin-top: -0.9rem;
     margin-left: 0.7rem;
    }


    .unique-features-text-section .pink{
     font-size: 2rem;
     color:#FB2E86 ;

    }

    .unique-features-text-section .blue{
      font-size: 2rem;
      color: #00009D ;

    }

    .unique-features-text-section .green{
      font-size: 2rem;
      color: #05E6B7 ;
    }

        /* Trending product----------- */
    .trending-product-header{
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
      font-size: 0.9rem;
      text-align: center;
      color: #151875;
      padding-bottom: 2rem;
      padding-top: 5rem;
    }



    .trending-product-middle-grid{
      display: block;
      grid-template-columns: 1fr;
      gap:1rem ;
      width: 70%;
      height: 100%;
      overflow: hidden;
     margin: auto;
     box-shadow: rgba(6, 6, 130, 0.2) 0px 7px 12px 0px; 
    }

    .TP-top-cards img{
     background: #F5F6F8;
    }

    .TP-top-cards{ 
    
    /* border-radius: 0.4rem; */
    width:100%;
    height:81%;
    background: white;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    /* background: #F5F6F8; */
    padding:10px 0;
    /* drop-shadow:(0px 8px 40px rgba(49, 32, 138, 0.05)); */
    }

.chair-image-sec {
    display:flex;
    justify-content:center;
    height:80%;
   
}

.TP-top-cards h3{
    color: #FB2E86;
    font-family: Arial;
    font-size: 1rem;
}

.TP-top-cards h4{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}



.TP-price-and-desc{
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;

}


.TP-top-cards h4{
    color: #151875;
    text-align: center;
}


.TP-top-cards h5{
    color: #151875;
   text-align: center;
   
}

.TP-top-cards h6{
    color:  rgba(21, 24, 117, 0.3);
   text-decoration: line-through;
    margin-left: 1rem;
}

.trending-product-middle-buttom-card{
    display: grid;
    grid-template-columns: 1;
    gap:0rem ;
    overflow: hidden;
    margin: auto;
    margin-top: 0.1rem;
    /* border: 2px solid red; */
    

}
.trending-products-discount{
    background: #FFF6FB;  
} 

.trending-products-discount2{
    background-color: #EEEFFB;
}

.trending-products-discount img{
    height: inherit;
    width: 100%;
}

.TP-buttom-card{
height: 18rem; 

}

.TP-buttom-card a{
    color: #FB2E86;
    text-decoration: underline;
    padding: 0.5rem;
}

.TP-buttom-card h3{
    color: #151875;
    padding: 0.5rem;

}

.TP-buttom-card img{
    width: 312px;
    height: 173px;
}

.TP-buttom-card img{
    /* width: 100%; */
    /* height: inherit; */
}


.TP-card1{
    display: flex;
}

.TP-card1 h6{
    font-family: 'Lato';
    text-decoration: line-through;
    color: #151875
}

.seat-price h5{
    color: #151875;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.executive-chair{
    background: #F5F6F8;
    margin: 0.2rem;
    padding-right: 0.6rem;
    padding-left: 0.2rem;
}

.seat-price h6{
    margin-left:0.5rem ;
}




 


@media screen and (min-width:768px){
    /* @media screen and (max-width:768px){ */
    .nav-bar{
        padding: 0 rem;
        width: 100%;
    
    }
    .Top-nav{
        font-family:Josefin Sans;
        
        font-size: 1rem;
        line-height:1.17rem ;
        color: #F1F1F1;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 3rem 0.5rem 3rem;
        
        /* background-color: #8F00FF; */
        background: #7E33E0;
        width: 100%;
        height: auto;
        height: 3rem;
    }
    .left{
        display: flex;
        
    }
    .left > div + div{
        margin-left: 2rem;
        font-weight: 2rem;
    }
    .right{
        display: flex;
    }
    .right > div + div{
        margin-left: 2rem;
        font-weight: 2rem;
    }
    .lower-nav{
        padding: 0.5rem 3rem 0.5rem 3rem;
    }

    ul li a{
        font-size: large;
        margin: 0 1.5rem 0 0rem;
    
    }

    ul li{
            position: relative;
            top: -2rem;
            left: 10rem;
         }
    
    .home {
        color: #FB2E86;
    }

    .home a{
         color: #FB2E86;
    }

    a:hover{
      color: #FB2E86;
    } 

   .brand-name {
        color:#0D0E43 ;
        font-family:sans-serif;
        font-size: 2.3rem;
        line-height: 2.5rem;
        background: none;
    }
    

    
          
        /* .search-bar{ */
            /* width: 100%; */
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: right; */
            /* position: relative; */
            /* top: auto; */
            /* bottom: 3rem; */
        
        /* } */
        /* form{ */
            /* background: white; */
            /* display: flex; */
        /* } */
        /* form input{ */
            /* flex: 1; */
            /* border: none; */
            /* outline: none; */
            /* width: 20rem; */
            /* height: 2.5rem; */
        /* } */
        /* form button{ */
            /* background: #FB2E86; */
            /* padding: 0.1PX 0.5PX; */
            /* cursor: pointer;   } */

            /* ------------------------------------------ */
        /* .home-page1-box{ */
            /* padding-left: 10rem; */
        /* } */
        .box-content-home-page1{
            display: grid;
            grid-template-columns: 0.5fr 3fr 2fr;
            width: 100%;
            height: 100vh;
            
            /* padding-left: 4rem; */
            /* padding-right: 4rem; */
           /* background-color: #f2f0ff; */
            /* background-size: cover; */
            /* position: relative; */
            /* top: -2rem; */
            /* left: -5rem; */
            
        }
        .pink-sofa-col img{
            padding: 3rem 3rem 0 5rem;
            width: 550px;
            /* height: 600px; */
            padding-right: 2rem;
        } 

        .pink-sofa-col img{
            /* width: 110%; */
            height: inherit;
           /* } */
           /* .text-page1{ */
            /* padding-top: 10rem; */
        }
        .pink-sofa-col img{
            height: inherit;
        }

        .text-page1{
            padding-top: 10rem;
            padding-left: 1rem;
            margin-inline-start: 0 0 0 -2rem;
            text-align: justify;
        
            
        }

        .text-page1 h3{
            color: #FB2E86;
            font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 28px;
        }

        .text-page1 h1{
            font-family: sans-serif;
            font-size: 2.1rem;
            color: #000000;
            line-height: 3.5rem;
            letter-spacing: 0.015em;
            font-weight: 700;
        }    
            

           
        .text-page1 p{
            font-family: Arial;
            font-size: 0.83rem;
            line-height: 1.5rem;
            color: #8A8FB9;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 2rem;
        } 
          
        .text-page1 button{
            background-color: #FB2E86;
            width: 9rem;
            height: 2.7rem;
            border-radius: 0.13rem;
        }
          

        .action-button a{
            text-decoration: none;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1rem;
            line-height: 1.2rem;
            letter-spacing: 0.02em;
        }

        .action-button{
            margin-top:-0.5rem ;
            
        }   
          

          /* home-page2-container starts here */

        .home-page2-hearder{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
            font-size: 1.2rem;
            /* line-height: 1rem; */
            text-align: center;
            color: #0D0E43 ;
            padding-bottom: 2rem;
            padding-top: 5rem;
        }
        .chair-image {
            display:flex;
            justify-content:center;
            height:70%;
        }

        .home-page2-middle-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
             gap:1rem ;
            width: 70%;
            overflow: hidden;
            margin: auto;
            box-shadow: rgba(8, 8, 143, 0.2) 0px 7px 29px 0px; 
        }

        .upper-and-lower-home-page2-middle-grid-content{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 22.56rem;  
        }

        .home-page2-middle-grid-upper-content{ 
            
            border-radius: 0.4rem;
            width:100%;
            height:63%;
            display:flex;
            justify-content: space-between;
            flex-direction:column;
            background: #F6F7FB;
            padding:10px 0;

            
        }
        
        .home-page2-middle-grid-upper-content button{
            background-color: #08d15f;
            width:fit-content;
            margin-left:4.4rem;
            border-radius: 2px;
            border:none;
            color:#fff;
            padding:5px 10px;
            font-family: 'josefin Sans';
            font-size: 12px;
            line-height: 14px;
            visibility: hidden;

        }

        .magic-icon{
            width:40%;
            margin-left:0.63rem;
            display:flex;
            justify-content:space-between;
            visibility:hidden;
            gap: 0.2rem;
        }

        .magic-icon .magic-icon-holder{
        display:flex;
        justify-content:center;
        align-items: center;
        width:30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        text-decoration: none;
        }

        .magic-icon .magic-icon-holder:hover{
            background:rgb(226, 223, 223)
        }


        .middle-grid-lower-section{
           
            display:flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            padding:10px 0;
            gap: 0.5rem;
            height:40%;

            
        }

        .color-selection-button button{
            width:0.88rem;
            height:3px;
            border-radius: 2px;
           
            border: none;
        }

        .button1{
            background-color:#05E6B7 ;
        }

        .button2{
            background-color:#F701A8 ;
        }

        .button3{
            background-color:#00009D ;
        }
        
        .upper-and-lower-home-page2-middle-grid-content:hover .middle-grid-lower-section{
            background-color: #2F1AC4;

        }

        .upper-and-lower-home-page2-middle-grid-content:hover .view-details-btn{
            visibility: visible;
        }

        .upper-and-lower-home-page2-middle-grid-content:hover h3{
          color: #FFF;  
        }

        .upper-and-lower-home-page2-middle-grid-content:hover h4{
            color: #FFF;
        }

        .upper-and-lower-home-page2-middle-grid-content:hover p{
            color: #FFF;
        }

        .upper-and-lower-home-page2-middle-grid-content:hover .magic-icon{
            visibility: visible;
        }
        .upper-and-lower-home-page2-middle-grid-content:hover .button3{
            background-color: #FFEAC1;
        }
           
        .middle-grid-lower-section h3{
            color: #FB2E86;
            font-family: Arial;
            font-size: 1rem;
        }

        .middle-grid-lower-section h4{
            font-family: 'Josefin Sans';
            font-size: 14px;
            line-height: 16px;
            color: #151875;
        }

        .middle-grid-lower-section p{
            font-family: 'Lato';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #151875
        }

       .magic-icon .fa-cart-shopping{
            color: #2F1AC4;
           
        }

        .magic-icon .fa-heart{
            color: #1389FF;
           
        }

        .magic-icon .fa-circle-plus{
            color: rgb(100, 192, 241);
          
        }

        .buttom-selection-button .btn{
            width: 1.7rem;
            height: 0.3rem;
            align-items: center;
            border: none;
            border-radius: 2px;
            background-color: #FB2E86;
            /* padding-left: 10rem; */
            /* visibility: hidden; */
            margin: 0.2rem;
           

        }

        .buttom-selection-button {
            padding-left: 45%;
            padding-top: 3rem;

        }

        /* .buttom-selection-button button:hover { */
            /* color: #FEBAD7; */


        
        


        /* home page3 starts here */
        .home-page3-container{
            height: 125vh;
        }

        .home-page3-first-header{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
            font-size: 1rem;
            
            text-align: center;
            color: #2F1AC4 ;
            padding-bottom: 0rem;
            padding-top: 2rem;
        }
        
        .home-page3-sub-header{
            display: flex;
            color:#151875 ;
            padding-left:29rem ;
            font-family: Arial, Helvetica, sans-serif;
           
        }
        
        .home-page3-sub-header li{
            margin: 1.5rem;
            line-height: 1.1rem;
            font-weight: 600;
            font-size: 12px;
            /* margin-top: -0.5rem; */
        }
        .home-page3-sub-header li:hover{
            color: #FB2E86;
            text-decoration: underline;
        }
        
        .home-page3-chair-holder{
            display:flex;
            justify-content:center;
            height:70%; 
            /* z-index: 10rem; */
        }

        .home-page3-chair-holder img{
            /* height: 30%; */
            width: 70%;
            margin-top: -12rem;
            margin-left: 1.8rem;
        }

        
        .home-page3-middle-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:2rem ;
            width: 70%;
            overflow: hidden;
            margin: auto;
            
            
            
            
        }

       

        .home-page3-top-section{
            
        background: whitesmoke

        }

        .home-page3-sales-tag{
            background-color: #3F509E;
            width: 3.5rem;
            padding-top: 0.7rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            /* position: relative; */
            top: 5rem;
            left: 1.5rem;
            transform: skewY(325deg);
            border-bottom-left-radius: 1.5rem;
            /* transform: skew(0.1rad,0.1rad); */
            visibility: hidden;
        
        }

        .home-page3-sales-tag p{
            color: white;
            transform: skewY(330deg);
            text-align: initial;
            margin-top: -0.8rem;
            
            
        }

        .home-page3-icons-and-image-section{
            justify-content: space-between;
            display: inline-block;
        }

       

        .home-page3-icons{
            /* color: #2F1AC4; */
            display: flex;
            flex-direction: column;
            margin-top: 9rem;
            visibility: hidden;
        

        }

        
        .home-page3-icon-holder i{
            margin: 0.5rem;
            color: #2F1AC4;
           
        }

        .home-page3-top-and-buttom-grid-card:hover .home-page3-top-section{
            background-color: white;
        }

        .home-page3-top-and-buttom-grid-card :hover .home-page3-icons{
            visibility: visible;
            

        }

        .home-page3-top-and-buttom-grid-card :hover .home-page3-sales-tag{
            visibility: visible;
        }

        .home-page3-icons .home-page3-icon-holder{
            display:flex;
            justify-content:center;
            align-items: center;
            width:30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid transparent;
            text-decoration: none;
        }

        .home-page3-icons .home-page3-icon-holder:hover{
            background:rgb(226, 223, 223) 

        }

        .confy-price-section{
            display: flex;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
            margin: 1.1rem;
            margin-top: -0.3rem;
            margin-right: 1rem;
            
        }
        
        .home-page3-middle-grid-just-price{
            display: flex;
            padding-top: 0.9rem;
            margin-left: 3.5rem;        
        
        }
        
        .home-page3-middle-grid-just-price h5{
            color: #151875;
            padding-right: 1.5rem;
            
            
        }
        
        .home-page3-middle-grid-just-price h6{
            color: #FB2448;
            /* padding-right: 3rem; */
            text-decoration: line-through;
        }
        
        .confy-price-section h4{
            color: #151875;
            font-size: 0.8rem;
            line-height: 1.1rem;
            font-weight: 250;
            background-color: whitesmoke;
            padding-left: 0.5rem;
            padding-right: 1rem;
            padding-top:0.2rem ;
            padding-bottom: 0.2rem;
            margin-top: 0.5rem;
            margin-right: -4rem;
        }

        .home-page3-grid-card-buttom-section{
            display: flex;
        }

        /* shopex section---------- */
        .shopex-container{
            height: 70vh;
        }

        .shopex-grid-card-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
             gap:1rem ;
            width: 70%;
            overflow: hidden;
            margin: auto;
            box-shadow: rgba(8, 8, 143, 0.2) 0px 7px 29px 0px; 
            

        }

        .shopex-grid-card{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
            height: 14rem; 
        }

        .shopex-hearder{
            /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'; */
            font-size: 1rem;
            text-align: center;
            color: #151875 ;
            padding-bottom: 0rem;
            padding-top: 2rem;
            padding-bottom: 4rem;

        }

        .shopex-icon-holder1{
            color: #FF7E40;
            width: 4rem;
            height: 2rem;
            padding: 2rem 0rem 2rem 6rem;
            font-size: 40px;
        }

        .shopex-icon-holder{
            color: #F7B90F;
            width:4rem;
            height: 2rem;
            padding:2rem 0rem 2rem 6rem;
            font-size: 40px;

        }

        .shopex-icon-holder4{
            color: #2F1AC4;
            width: 4rem;
            height: 2rem;
            padding: 2rem 0rem 2rem 6rem;;
            font-size: 40px;
        }

       .support h5{
            color: #151875;
            line-height: 26px;
            text-align: center;
            padding-top: 1rem;
        }

       .shopex-text p{
            font-family: Arial;
            font-size: 0.7rem;
            line-height: 1.2rem;
            color: #8A8FB9;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 2rem;
            text-align-last: center;
            padding-top: 1rem;
    
        }

         /* Unique Features Of Latest & Trending Products section  */
         
         .unique-features-card-container{
            display: flex;
         }
 
         .unique-features-card{
             background: #F1F0FF;
             display: flex;
             width: 100%;
             height: 20%;
 
         } 
 
         .unique-features-image-background{
             margin: 40px;
             margin-left: 20rem;
             /* border: 2px solid red; */
             width: 350px;
             height: 350px;
             background-image: url(images/unique-pink-background.png);
             background-size: contain;
             z-index: -1rem;
             align-items: center;
             justify-content:center;
             align-items: center;
            
         }
 
         .unique-features-image-background img{
             width: 300px;
             height: 300px;
             margin-left: 3rem;
            
 
         }
 
         .unique-features-image-background img{
             width: 100%;
             height: inherit;
         }
 
         .unique-features-image-background{
             /* padding-left: 5rem; */
             margin-right: 2rem;
         }
 
         .unique-features-text-section{
             /* padding-left: 4rem; */
         }
 
         .unique-features-text-section h2{
             color: #151875;
             line-height: 2rem;
             padding-top: 5.6rem;
 
         }
 
         .unique-features-text-section p{
             font-family: Arial;
             font-size: 12px;
             line-height: 1.7rem;
             color: #8A8FB9;
             font-style: normal;
             font-weight: 400;
             margin-bottom: 2rem;
 
         }
 
         .add-to-cart-desc-and-price{
             display: flex;
         }
 
         .add-to-cart-desc-and-price p{
             color: #151875;
             margin: 0.5rem;
             line-height: 0.9rem;
             font-weight: 600;
             margin-top: -0.6rem;
 
         }
 
         .add-to-cart-desc-and-price button{
             background-color: #FB2E86;
             width: 6.8rem;
             height: 2.4rem;
             color: white;
             margin-top: -0.9rem;
        }
 
       
        .unique-features-text-section .pink{
            font-size: 2rem;
            color:#FB2E86 ;

        }

        .unique-features-text-section .blue{
            font-size: 2rem;
            color: #00009D ;

        }

        .unique-features-text-section .green{
            font-size: 2rem;
            color: #05E6B7 ;

        }

        /* Trending product----------- */
        .trending-product-header{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
            font-size: 1.2rem;
            /* line-height: 1rem; */
            text-align: center;
            color: #151875;
            padding-bottom: 2rem;
            padding-top: 5rem;
        }
       
        

        .trending-product-middle-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
             gap:1rem ;
            width: 65%;
            height: 39vh;
            overflow: hidden;
            margin: auto;
           
            box-shadow: rgba(6, 6, 130, 0.2) 0px 7px 12px 0px; 
        }
        
        .TP-top-cards img{
            background: #F5F6F8;
        }

        .TP-top-cards{ 
            
            /* border-radius: 0.4rem; */
            width:100%;
            height:81%;
            background: white;
            box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
            display:flex;
            justify-content: space-between;
            flex-direction:column;
            /* background: #F5F6F8; */
            padding:10px 0;
            /* drop-shadow:(0px 8px 40px rgba(49, 32, 138, 0.05)); */
            
                
        }

        .chair-image-sec {
            display:flex;
            justify-content:center;
            height:80%;
           
        }

        .TP-top-cards h3{
            color: #FB2E86;
            font-family: Arial;
            font-size: 1rem;
        }

        .TP-top-cards h4{
            font-family: 'Josefin Sans';
            font-size: 14px;
            line-height: 16px;
            color: #151875;
        }

        
        
        .TP-price-and-desc{
            display: flex;
            padding-top: 0.7rem;
            /* margin-left: 3.5rem;         */
           
        
        }

        
        .TP-top-cards h4{
            color: #151875;
            text-align: center;
        }

        
        .TP-top-cards h5{
            color: #151875;
           text-align: center;
           
        }
        
        .TP-top-cards h6{
            color:  rgba(21, 24, 117, 0.3);
           text-decoration: line-through;
            margin-left: 1rem;
        }

        .trending-product-middle-buttom-card{
            display: grid;
            grid-template-columns: 2fr 2fr 1.5fr;
             gap:1rem ;
            width: 65%;
            /* height: 100vh; */
            overflow: hidden;
            margin: auto;
            /* border: 2px solid red; */
            

        }
        .trending-products-discount{
            background: #FFF6FB;  
        } 

        .trending-products-discount2{
            background-color: #EEEFFB;
        }

        .TP-buttom-card{
        height: 18rem; 
       
        }

        .TP-buttom-card a{
            color: #FB2E86;
            text-decoration: underline;
            padding: 0.5rem;
        }

        .TP-buttom-card h3{
            color: #151875;
            padding: 0.5rem;

        }

        .TP-buttom-card img{
            width: 312px;
            height: 173px;
        }

        

        .TP-card1{
            display: flex;
            

        }

        .TP-card1 h6{
            font-family: 'Lato';
            text-decoration: line-through;
            color: #151875
        }

        .seat-price h5{
            color: #151875;
            margin-top: 1rem;
            margin-left: 0.5rem;
        
        }

        .executive-chair{
            background: #F5F6F8;
            padding-right: 0.6rem;
            padding-left: 0.2rem;
            
        }

        .seat-price h6{
            margin-left:0.5rem ;
        }

        /* Discount Item section  */
         
        .discount-item-container{
            display: flex;
         }
 
         .DI-card{
             background: #F1F0FF;
             display: flex;
             width: 100%;
             height: 20%;
 
         } 
 
         .DI-image-background{
             margin: 40px;
             margin-left: 20rem;
             /* border: 2px solid red; */
             width: 350px;
             height: 350px;
             background-image: url(images/discount-item-background.png);
             background-size: contain;
             z-index: -1rem;
             align-items: center;
             justify-content:center;
             align-items: center;
            
         }
 
         .DI-image-background img{
             width: 300px;
             height: 300px;
             margin-left: 3rem;
            
 
         }
 
         .DI-image-background img{
             width: 100%;
             height: inherit;
         }
 
         .DI-image-background{
             /* padding-left: 5rem; */
             margin-right: 2rem;
         }
 
         .DI-text-section{
             /* padding-left: 4rem; */
         }
 
         .DI-text-section h2{
             color: #151875;
             line-height: 2rem;
             padding-top: 5.6rem;
 
         }
 
         .DI-text-section p{
             font-family: Arial;
             font-size: 12px;
             line-height: 1.7rem;
             color: #8A8FB9;
             font-style: normal;
             font-weight: 400;
             margin-bottom: 2rem;
 
         }
 
         .add-to-cart-desc-and-price{
             display: flex;
         }
 
         .add-to-cart-desc-and-price p{
             color: #151875;
             margin: 0.5rem;
             line-height: 0.9rem;
             font-weight: 600;
             margin-top: -0.6rem;
 
         }
 
         .add-to-cart-desc-and-price button{
             background-color: #FB2E86;
             width: 6.8rem;
             height: 2.4rem;
             color: white;
             margin-top: -0.9rem;
        }
 
       
        .DI-text-section .pink{
            font-size: 2rem;
            color:#FB2E86 ;

        }

        .DI-text-section .blue{
            font-size: 2rem;
            color: #00009D ;

        }

        .DI-text-section .green{
            font-size: 2rem;
            color: #05E6B7 ;

        }


        
    }
    

    
    
       