*{
    margin: 0;
    
padding: 0;
box-sizing: border-box;
list-style: none;

}
.container{
    overflow: hidden;
    
}
.nav-bar{
    width: 100%

}
.Top-nav{
    font-family:Josefin Sans;
    font-size: 0.5rem;
    color: #F1F1F1;
    
display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    /* background-color: #8F00FF; */
    background: #7E33E0;
    width: 100%;
    /* height: 3rem; */
    /* height: inherit; */
    
}
.left{
    display: flex;
    
}
.left > div + div{
    margin-left: 0.15rem;
}
.right{
    display: flex;
}
.right > div + div{
    margin-left: 0.15rem;
    font-weight: 2rem;
}
.lower-nav{
    display: block;
   padding: 0rem 0.6rem 0rem 0.05rem;
    

}
.menu-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
     padding: 0.31rem; 
        /* color: #f2f0ff; */
        font-weight: 500;
        
        }
    .menu-bar ul{
        margin: 0;
        padding:0rem 0rem 0rem;
        display: flex;
        font-size: medium;
        position: relative;
        top: 0.3rem;
        
    
    }
    
    

.home {
    color: #FB2E86;

}
.home a{
     color: #FB2E86;

}
.menu-bar ul li a:hover{
  color: #FB2E86;
}
.brand-name {
    color:#0D0E43 ;
    font-family:sans-serif;
    padding: 0 0 0 0rem;
    font-size: 1rem;
line-height: 1.5rem;
position: relative;
top: auto;
background-color: #7E33E0;
height: 2.5rem;

width:50rem;


}

.search-bar{
    width: 100%;
    /* height: 1.9rem; */
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: -3.5rem;
}

form{
    background: white;
    display: flex;
}
form input{
    flex: 1;
    /* border:none; */
    outline: none;
    width: 12rem;
    height: 1.5rem;

}
form button{
    background: #FB2E86;
    padding: 0.1PX 0.5PX;
    cursor: pointer;
     }
     
.search-icon img{
    width: 1.5rem;
    height: 1rem;
    
}
.search-icon img{
    width: 100%;
    height: inherit;
}

.home-page1-box{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    width: 1400px;
    height: 85vh;
    padding-right: 4rem;
   background-color: #f2f0ff;
    background-size: cover;
    position: relative;
    top: -2rem;
    left: -5rem;
    
    

   }
   .pink-sofa-col img{
    padding: 3rem 3rem 0 3rem;
   } 
   .pink-sofa-col img{
    width: 110%;
    height: inherit;
   }
   .text-page1{
    padding-top: 10rem;
    

   }

   .text-page1 h3{
    color: #FB2E86;
    font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17.5px;
    line-height: 28px;
   }

   .text-page1 h1{
    font-family: sans-serif;
    font-size: 2.76rem;
    color: #000000;
    line-height: 4rem;
    letter-spacing: 0.015em
    

   }
  .text-page1 p{
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #8A8FB9;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2rem;
  } 
  
  .text-page1 button{
    background-color: #FB2E86;
    width: 10.4rem;
    height: 3.1rem;
    border-radius: 0.13rem;
    
  }

  .action-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 0.02em;

    
  }




@media screen and (min-width:768px){
    /* @media screen and (max-width:768px){ */
    .nav-bar{
        padding: 0 rem;
        width: 100%;
    
    }
    .Top-nav{
        font-family:Josefin Sans;
        
        font-size: 1rem;
        line-height:1.17rem ;
        color: #F1F1F1;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 3rem 0.5rem 3rem;
        
        /* background-color: #8F00FF; */
        background: #7E33E0;
        width: 100%;
        height: auto;
    }
    .left{
        display: flex;
        
    }
    .left > div + div{
        margin-left: 2rem;
        font-weight: 2rem;
    }
    .right{
        display: flex;
    }
    .right > div + div{
        margin-left: 2rem;
        font-weight: 2rem;
    }
    .lower-nav{
        padding: 0.5rem 3rem 0.5rem 3rem;
    }

     ul li a{
       font-size: large;
        margin: 0 1.5rem 0 0rem;
    
         }
         ul li{
            position: relative;
            top: -2rem;
            left: 10rem;
         }
    
    .home {
        color: #FB2E86;
    }

    .home a{
         color: #FB2E86;
    }

    a:hover{
      color: #FB2E86;
    } 

   .brand-name {
        color:#0D0E43 ;
        font-family:sans-serif;
        font-size: 2.3rem;
        line-height: 2.5rem;
        background: none;
    }
    

    
          
        .search-bar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
            position: relative;
            top: auto;
            bottom: 3rem;
        
        }
        form{
            background: white;
            display: flex;
        }
        form input{
            flex: 1;
            /* border: none; */
            outline: none;
            width: 20rem;
            height: 2.5rem;
        }
        form button{
            background: #FB2E86;
            padding: 0.1PX 0.5PX;
            cursor: pointer;   }

            /* ------------------------------------------ */
           .home-page1-box{
            display: grid;
            grid-template-columns: 0.5fr 2.6fr 2.4fr;
            width: 1400px;
            height: 85vh;
            padding-right: 4rem;
           background-color: #f2f0ff;
            background-size: cover;
            position: relative;
            top: -2rem;
            left: -5rem;
            
            

           }
           .pink-sofa-col img{
            padding: 3rem 3rem 0 3rem;
           } 
           .pink-sofa-col img{
            width: 110%;
            height: inherit;
           }
           .text-page1{
            padding-top: 10rem;
            

           }

           .text-page1 h3{
            color: #FB2E86;
            font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 28px;
           }

           .text-page1 h1{
            font-family: sans-serif;
            font-size: 2.76rem;
            color: #000000;
            line-height: 4rem;
            letter-spacing: 0.015em
            

           }
          .text-page1 p{
            font-family: Arial;
            font-size: 1rem;
            line-height: 1.6rem;
            color: #8A8FB9;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 2rem;
          } 
          
          .text-page1 button{
            background-color: #FB2E86;
            width: 10.4rem;
            height: 3.1rem;
            border-radius: 0.13rem;
            
          }

          .action-button a{
            text-decoration: none;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1rem;
            line-height: 1.2rem;
            letter-spacing: 0.02em;
        
            
          }
          
    }
    